// General
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
// Header
.header {
  background: #373639;
  color: #fff;
  padding: 0.8rem 2rem;
  font-size: 1.5rem;
}
// Main
